<h1><%= @restaurant.name %></h1>

<ul>
  <li><strong>Category:</strong> <%= @restaurant.category %></li>
  <li><strong>Address:</strong> <%= @restaurant.address %></li>
  <li><strong>Phone number:</strong> <%= @restaurant.phone_number %></li>
</ul>

<p><strong>Reviews:</strong></p>
<% @restaurant.reviews.each do |review| %>
  <p>
    <strong>Rating: </strong><%= review.rating %><br>
    <%= review.content %>
  </p>
<% end %>

<p><%= link_to "Add a review", new_restaurant_review_path(@restaurant) %></p>

<p><%= link_to "Back to all restaurants", restaurants_path %></p>
